/* login.component.css */

h1 {
    text-align: center;
    color: #333;
  }
  
  form {
    max-width: 300px;
    margin: 0 auto;
    padding: 16px;
    border: 1px solid #ccc; /* Add border to the form */
    border-radius: 8px; /* Optional: Add border-radius for rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box shadow */
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: #333;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-top: -8px;
    margin-bottom: 16px;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  p {
    text-align: center;
    margin-top: 16px;
    color: #333;
  }
  
  a {
    color: #4caf50;
  }
  