<div class="dashboard">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav class="sidenav">
      <mat-nav-list>
        <a mat-list-item routerLink="/dashboard">Home</a>
        <a mat-list-item routerLink="/leave-management">Leave Management</a>
        <a mat-list-item routerLink="/leave-status">Leave Status</a>
      </mat-nav-list>
    </mat-sidenav>
    <div class="content">
      <div class="navbar">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
     
        <button class="logout-button" (click)="logout()">Logout</button>
      </div>


<div class="container">
    <h2>Leave Management</h2>
  
    <div *ngIf="leaveManagementData && leaveManagementData.length > 0; else noData">
      
      <table class="table">
        <thead>
          <tr>
            <th>Employee Name</th>
            <th>Leave Type</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Reason</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let leave of leaveManagementData">
            <td>{{ leave.employeeName }}</td>
            <td>{{ leave.leaveType }}</td>
            <td>{{ leave.startDate | date: 'shortDate' }}</td>
            <td>{{ leave.endDate | date: 'shortDate' }}</td>
            <td>{{ leave.reason }}</td>
            <td>
              
              <button (click)="approveLeave(leave)">Approve</button>
              <button (click)="rejectLeave(leave)">Reject</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <ng-template #noData>
      
      <p>No leave data available.</p>
    </ng-template>
  </div>
  