/* Container styling */
form {
  max-width: 400px;
  margin: 30px;
  padding: 60px;
 
  height: 50vh; /* Adjust the height as needed */
  position: fixed;
  top: 40%;
  right: 17%;
  transform: translate(0%, -50%);
}

/* Heading styling */
h1 {
  text-align: center;
  color: #c2bdbd;
  font-size: xx-large;
}

/* Label styling */
label {
  display: block;
  margin-bottom: 8px;
  color: #dfd9d9;
}

/* Input field styling */
input {
  width: 130%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

/* Error message styling */
.error {
  color: red;
  font-size: 12px;
  margin-top: 0px;
}

/* Submit button styling */
button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: progress;
  align-self: stretch; /* Make the button fill the width */
}

/* Disabled button styling */
button:disabled {
  background-color: #ddd;
  color: #666;
  cursor: not-allowed;
}

/* Link styling */
p {
  text-align: center;
  margin-top: 20px;
  color: #d8d0d0;
}

a {
  color: #4caf50;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Optional: Hide scrollbars */
}

.back {
  background-image: url('./../../assets/signUp background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}
.mandatory {
  color: red;
  font-size: 1.2em; /* Adjust the font size as needed */
}
/* Add or adjust styles as needed */
input {
  width: calc(118% - 40px); /* Adjust the width to leave room for the eye image */
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

/* Adjust styles for the password container */
.password-container {
  position: relative;
}

/* Adjust styles for the password input */
.password-container input {
  width: 100%; /* Use 100% width for the input within the container */
  padding-right: 40px; /* Adjust the padding to make room for the eye image */
}

/* Adjust styles for the eye icon button */
.password-container button {
  position: absolute;
  right: 0; /* Position the button at the extreme right */
  top: 50%; /* Adjust the top position to vertically center the button */
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

/* Adjust styles for the eye icon image */
.password-container button img {
  width: 20px; /* Adjust the width of the eye image */
  height: auto; /* Maintain the aspect ratio of the image */
}