<!DOCTYPE html>
<html>
<head>
    <title>Leave Management System - Signup</title>
</head>
<body>
    <h1>Signup for Leave Management System</h1>
    <form [formGroup]="signupForm" (ngSubmit)="signUp()">
        <label for="username">Username:</label>
        <input type="text" id="username" formControlName="username"><br><br>
      
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email"><br><br>
      
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password"><br><br>
      
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword"><br><br>
      
        <button type="submit" [disabled]="!signupForm.valid">Signup</button>
      </form>
      

    <p>Already have an account? <a routerLink="/login">Login</a></p>

</body>
</html>

